body{
    background-color: #cad2c5 !important;
}
.top-pane {
    background: #000000;
    text-align: left;
    color: cornsilk;
}

.git-logo {
    width: 40px;
    height: auto;
    
}

.logo-text {
    text-align: center;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 4px;
}

.text-box-prop {
    background-color: #353535;
    border-radius: 20px;
    color: cornsilk;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    width: 75%;
    background-color: #353535;
    border-radius: 10px;
    text-align: center;
    color: cornsilk;
    height: 40px;
    
}

::placeholder{
    color: cornsilk;
}

.Searchbox {
    display: flex;
    justify-content: center;
}

.text-box-prop>p{
    font-size: small;
    margin: 0px;
}


